<div>
    <img class="field" src="https://img.freepik.com/free-vector/green-soccer-field_106788-196.jpg?size=626&ext=jpg" alt="" srcset="">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="right main">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="left main">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="center main">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="rcm main">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="lcm main">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="lcb main">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="rcb main">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="lb main">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="rb main">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="gk main">


    <select name="forward" id="forward">
            <option value="volvo">Martial</option>
            <option value="saab"> Rashford </option>
            <option value="mercedes">Werner</option>
            <option value="audi">Lacazette</option>
    </select>
    <select name="left" id="left">
        <option value="volvo">Rashford</option>
        <option value="saab">Gomez</option>
        <option value="mercedes">Werner</option>
        <option value="audi">Lacazette</option>
</select>
    <select name="right" id="right">
    <option value="volvo">James</option>
    <option value="saab">Greenwood</option>
    <option value="mercedes">Werner</option>
    <option value="audi">Lacazette</option>
</select>
    <select name="center" id="center">
    <option value="volvo">Lingard</option>
    <option value="saab">Bruno</option>
    <option value="mercedes">Werner</option>
    <option value="audi">Lacazette</option>
</select>
    <select name="lcm" id="lcm">
    <option value="volvo">Pogba</option>
    <option value="saab">Fred</option>
    <option value="mercedes">Werner</option>
    <option value="audi">Lacazette</option>
</select>
    <select name="rcm" id="rcm">
    <option value="volvo">Matic</option>
    <option value="saab">Mctominay</option>
    <option value="mercedes">Werner</option>
    <option value="audi">Lacazette</option>
</select>
    <select name="lb" id="lb">
    <option value="volvo">Shaw</option>
    <option value="saab">Williams</option>
    <option value="mercedes">Werner</option>
    <option value="audi">Lacazette</option>
</select>
    <select name="rb" id="rb">
    <option value="volvo">Wan Bissaka</option>
    <option value="saab">Salah</option>
    <option value="mercedes">Werner</option>
    <option value="audi">Lacazette</option>
</select>
    <select name="lcb" id="lcb">
    <option value="volvo">Maguire</option>
    <option value="saab">Bailly</option>
    <option value="mercedes">Werner</option>
    <option value="audi">Lacazette</option>
</select>
    <select name="rcb" id="rcb">
    <option value="volvo">Lindloft</option>
    <option value="saab">Salah</option>
    <option value="mercedes">Werner</option>
    <option value="audi">Lacazette</option>
</select>
    <select name="gk" id="gk">
    <option value="volvo">De Gea</option>
</select>

</div>

<div>
    <%= player.NAME %>
</div>