<div class="text-center mt-4 mb-4">
    <h1 style="color: snow;">TEAM SHEET</h1>
</div>
<center><button id="squad" type="button" class="btn btn-primary bg-warning" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="confirm()">Confirm</button></center>
<center>
    <form method="post">
        <input class="form-control" type="text" name="forward" id='forward0' style='display:none' required>
        <input class="form-control" type="text" name="rightw" id='rightw0' style='display:none' required>
        <input class="form-control" type="text" name="leftw" id='leftw0' style='display:none' required>
        <input class="form-control" type="text" name="rightm" id='rightm0' style='display:none' required>
        <input class="form-control" type="text" name="leftm" id='leftm0' style='display:none' required>
        <input class="form-control" type="text" name="centerm" id='centerm0' style='display:none' required>
        <input class="form-control" type="text" name="leftb" id='leftb0' style='display:none' required>
        <input class="form-control" type="text" name="rightb" id='rightb0' style='display:none' required>
        <input class="form-control" type="text" name="centerlb" id='centerlb0' style='display:none' required>
        <input class="form-control" type="text" name="centerrb" id='centerrb0' style='display:none' required>
        <input class="form-control" type="text" name="gk" id='gk0' style='display:none' required>
        <button type="submit" class="btn btn-primary bg-success" id='submit'>Submit</button>
</center>

<div id='sidebar'>
    <img class="shirt" src="https://images.vexels.com/media/users/3/148099/isolated/preview/b8bf4b02a670e6dbc8b4a7b20ca553de-uruguay-world-cup-football-shirt-cartoon-by-vexels.png" alt=""> = strikers<br>
    <img class="shirt" src="https://images.vexels.com/media/users/3/147700/isolated/preview/abc2c64b18ebdfecd54c03c9c77d9187-brazil-world-cup-football-shirt-cartoon-by-vexels.png" alt=""> = midfielders<br>
    <img class="shirt" src="https://images.vexels.com/media/users/3/147687/isolated/preview/0ac62a1acf142334a7d6ea51994b559a-belgium-world-cup-football-shirt-cartoon-by-vexels.png" alt=""> = defenders<br>
    <img class="shirt" src="https://images.vexels.com/media/users/3/147764/isolated/preview/6fb2da79adbe893988acd85df27e537c-england-world-cup-football-shirt-cartoon-by-vexels.png" alt=""> = goalkeepers <br><br> <u>number vs position</u>
    <li>1 - goalkeeper</li>
    <li>2 - defender</li>
    <li>3 - defender</li>
    <li>4 - defender</li>
    <li>5 - defender</li>
    <li>6 - midfielder</li>
    <li>7 - midfielder</li>
    <li>8 - midfielder</li>
    <li>9 - striker</li>
    <li>10 - striker/midfielder</li>
    <li>11 - striker/midfielder</li>

</div>

<div id='sidebar2' class="text-center">
    <center><u>Instructions</u></center>
    <ul>
        <li>drag and drop the shirt of the player on top of the number. </li>
        <li>in this fashion select you playing 11</li>
        <li>do not leave any position unfilled, this will damper the performance of your team</li>
        <li>confirm after selecting the whole team</li>
        <li>submit to input your team into the match</li>
        <li>you can play your player out of position, but this is not encouraged as the game is position based</li>
        <li>you cant submit your team with any position left empty</li>
    </ul>

</div>

<div class="col-md-10 text-center">
    <img id="field" src="https://upload.wikimedia.org/wikipedia/commons/4/45/Football_field.svg" alt="">
</div>
<div class="droppable text-center" id="forward">9</div>
<div class="droppable text-center" id="rightw">11</div>
<div class="droppable text-center" id="leftw">7</div>
<div class="droppable text-center" id="rightm">6</div>
<div class="droppable text-center" id="leftm">8</div>
<div class="droppable text-center" id="centerm">10</div>
<div class="droppable text-center" id="leftb">2</div>
<div class="droppable text-center" id="rightb">3</div>
<div class="droppable text-center" id="centerrb">4</div>
<div class="droppable text-center" id="centerlb">5</div>
<div class="droppable text-center" id="gk">1</div>



<p class="m-2 bg-success">
    <center>
        <h2 style="color: snow;">ROSTER</h2>
    </center>
</p>

<% for (x=0; x<user.roster.length; x++ ) { %>
    <div class="text-center d-inline-block col-md-2 alias draggable">
        <section>
            <% if (user.roster[x].Position == 'CF' || user.roster[x].Position == 'ST' || user.roster[x].Position == 'RF' || user.roster[x].Position == 'LF') { %>
                <img class="shirt" src="https://images.vexels.com/media/users/3/148099/isolated/preview/b8bf4b02a670e6dbc8b4a7b20ca553de-uruguay-world-cup-football-shirt-cartoon-by-vexels.png" alt=""><br>
                <% } else if (user.roster[x].Position == 'CAM' || user.roster[x].Position == 'RM' || user.roster[x].Position == 'RW' || user.roster[x].Position == 'LM' ||  user.roster[x].Position ==
            'LW' || user.roster[x].Position == 'CM' || user.roster[x].Position == 'CDM') { %>
                    <img class="shirt" src="https://images.vexels.com/media/users/3/147700/isolated/preview/abc2c64b18ebdfecd54c03c9c77d9187-brazil-world-cup-football-shirt-cartoon-by-vexels.png" alt=""><br>
                    <% } else if (user.roster[x].Position == 'LWB' || user.roster[x].Position == 'RWB' || user.roster[x].Position == 'RB' || user.roster[x].Position == 'LB' ||  user.roster[x].Position ==
            'CB') { %>
                        <img class="shirt" src="https://images.vexels.com/media/users/3/147687/isolated/preview/0ac62a1acf142334a7d6ea51994b559a-belgium-world-cup-football-shirt-cartoon-by-vexels.png" alt=""><br>
                        <% } else { %>
                            <img class="shirt" src="https://images.vexels.com/media/users/3/147764/isolated/preview/6fb2da79adbe893988acd85df27e537c-england-world-cup-football-shirt-cartoon-by-vexels.png" alt=""><br>
                            <% } %>
                                <p class="player2">
                                    <%= user.roster[x].Name %>
                                </p>
                                <div class="progress text-center">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="<%= user.roster[x].Morale  %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= user.roster[x].Morale  %>%"></div>
                                </div>
        </section>
    </div>

    <% } %>


        </form>


        <script>
            $("#submit").hide()
            $("#squad").click(function() {
                $("#submit").show();
            });
            document.body.style.backgroundImage = "url('https://wallpaperplay.com/walls/full/9/7/0/145562.jpg')";
            $(".draggable").draggable({
                revert: true
            });
            //$(".droppable").droppable({
            //    drop: function(event, ui) {
            //        $(this).append($(ui.draggable).find('section'));
            //    }
            //});

            $(".droppable").droppable({
                classes: {
                    "ui-droppable-active": "ui-state-active",
                    "ui-droppable-hover": "ui-state-hover"
                },
                accept: function(draggable) {
                    if (!$(this).hasClass('dropped') || draggable.hasClass('dropped')) {
                        return true;
                    }
                    return false;
                },
                drop: function(event, ui) {
                    $(this).addClass('dropped');
                    ui.draggable.addClass('dropped');
                    $(this).append($(ui.draggable).find('section'))
                },
                out: function(event, ui) {
                    $(this).removeClass('dropped');
                    ui.draggable.removeClass('dropped');
                }
            });




            function confirm() {
                var ar = document.getElementById('forward').innerText.split('');
                ar.splice(0, 5);
                ar.join('');
                var forward = ar.join('');
                $("#forward0").val(forward);

                var ar1 = document.getElementById('rightw').innerText.split('');
                ar1.splice(0, 5);
                ar1.join('');
                var rightw = ar1.join('');
                $("#rightw0").val(rightw);

                var ar2 = document.getElementById('leftw').innerText.split('');
                ar2.splice(0, 5);
                ar2.join('');
                var leftw = ar2.join('');
                $("#leftw0").val(leftw);

                var ar3 = document.getElementById('leftm').innerText.split('');
                ar3.splice(0, 5);
                ar3.join('');
                var leftm = ar3.join('');
                $("#leftm0").val(leftm);

                var ar4 = document.getElementById('rightm').innerText.split('');
                ar4.splice(0, 5);
                ar4.join('');
                var rightm = ar4.join('');
                $("#rightm0").val(rightm);

                var ar5 = document.getElementById('centerm').innerText.split('');
                ar5.splice(0, 5);
                ar5.join('');
                var centerm = ar5.join('');
                $("#centerm0").val(centerm);

                var ar6 = document.getElementById('leftb').innerText.split('');
                ar6.splice(0, 5);
                ar6.join('');
                var leftb = ar6.join('');
                $("#leftb0").val(leftb);

                var ar7 = document.getElementById('rightb').innerText.split('');
                ar7.splice(0, 5);
                ar7.join('');
                var rightb = ar7.join('');
                $("#rightb0").val(rightb);

                var ar8 = document.getElementById('centerrb').innerText.split('');
                ar8.splice(0, 5);
                ar8.join('');
                var centerrb = ar8.join('');
                $("#centerrb0").val(centerrb);

                var ar9 = document.getElementById('centerlb').innerText.split('');
                ar9.splice(0, 5);
                ar9.join('');
                var centerlb = ar9.join('');
                $("#centerlb0").val(centerlb);

                var ar10 = document.getElementById('gk').innerText.split('');
                ar10.splice(0, 5);
                ar10.join('');
                var gk = ar10.join('');
                $("#gk0").val(gk);

                document.getElementById('squad').style.display = 'none';
            }
        </script>