<div>
    <img class="field" src="https://img.freepik.com/free-vector/green-soccer-field_106788-196.jpg?size=626&ext=jpg" alt="" srcset="">
</div>




<div id="forward" class="droppable">
</div>
<div id="rw" class="droppable">
</div>
<div id="lw" class="droppable">
</div>
<div id="cm" class="droppable">
</div>
<div id="lcm" class="droppable">
</div>
<div id="rcm" class="droppable">
</div>
<div id="lb" class="droppable">
</div>
<div id="rb" class="droppable">
</div>
<div id="rcb" class="droppable">
</div>
<div id="lcb" class="droppable">
</div>
<div id="gk" class="droppable">
</div>



<div class="mov text-center">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <p class="player">Lionel Messi</p>
</div>
<div class="mov text-center">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <p class="player">Ronaldo</p>
</div>
<div class="mov text-center">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <p class="player">Neymar</p>
</div>
<div class="mov text-center">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <p class="player">Kroos</p>
</div>
<div class="mov text-center">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <p class="player">Thiago</p>
</div>
<div class="mov text-center">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <p class="player">Pogba</p>
</div>
<div class="mov text-center">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <p class="player">Alaba</p>
</div>
<div class="mov text-center">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <p class="player">Kimmich</p>
</div>
<div class="mov text-center">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <p class="player">Van Dijk</p>
</div>
<div class="mov text-center">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <p class="player">Sergio Ramos</p>
</div>
<div class="mov text-center">
    <img src="https://i.ya-webdesign.com/images/cartoon-shirt-png.png" alt="" class="forward main">
    <p class="player">Jan Oblak</p>
</div>




<!--<div class="container">
    <input type="radio" name="formation" id="one" value="4-2-1-2-1" class='check'>
    <label for="none" onclick="exec()">4-2-1-2-1</label><br>
    <input type="radio" name="formation" id="two" value="4-3-3" class='check' onclick="mou()">
    <label for="birthday" onclick="mou()">4-3-3</label><br>
    <input type="radio" name="formation" id="three" value="4-4-1-1" class='check'>
    <label for="wedding" onclick="execu()">4-4-1-1</label><br>
    <input type="radio" name="formation" id="four" value="4-3-2-1" class='check'>
    <label for="funeral" onclick="execu()">4-3-2-1</label><br>
</div>-->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function() {
        $(".mov").draggable({
            revert: "invalid"
        });

        $(".droppable").droppable({
            classes: {
                "ui-droppable-active": "ui-state-active",
                "ui-droppable-hover": "ui-state-hover"
            },
        });
    });
</script>