<div class="col-md-12 m-auto title ">
    fantasy premier league
</div>


<div class="card card-body text-center hold d-inline-block row mt-5 col-md-3 ">
    Build your team from a collection of over 16000 players!!
    <hr> Compete with fellow users on the interface
    <hr> reach the top of the leaderboard by the end of the season
</div>

<div class="card card-body text-center hold d-inline-block row mt-5 col-md-3 scrap">
    <h1><i class="fa fa-soccer-ball-o"></i></h1>
    <p>Create an account or login</p>
    <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
    <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
</div>

<div class="card card-body text-center hold d-inline-block row mt-5 col-md-3 scrap">
    Build your team from a collection of over 16000 players!!
    <hr> Compete with fellow users on the interface
    <hr> reach the top of the leaderboard by the end of the season
</div>