@font-face {
    font-family: fifa;
    src: url(./Football\ Attack\ Demo.ttf);
}

::-webkit-scrollbar {
    width: 15px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background-color: #020102;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: whitesmoke;
}

body {
    background-image: url(https://images.squarespace-cdn.com/content/v1/54d39958e4b05da119ebf14c/1506234336319-2TXN2N3IPWNJUUNB6U4K/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USOFn4xF8vTWDNAUBm5ducQhX-V3oVjSmr829Rco4W2Uo49ZdOtO_QXox0_W7i2zEA/fifa18_thunder.jpg?format=1500w);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: top;
}

.hold {
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black, 0 0 20px black;
}

.title {
    color: whitesmoke;
    text-align: center;
    font-size: 6rem;
    font-family: fifa;
    padding-top: 10%;
    text-shadow: 0 0 10px black;
    letter-spacing: 3pt;
}

.scrap {
    margin-left: 13%;
}

.field {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 60%;
}

.mov {
    width: 10%;
}

.main {
    width: 60%;
    display: inline-block;
}

.player {
    color: rgb(255, 255, 255);
    letter-spacing: 2pt;
    font-size: 1.2rem;
}

#forward,
#rw,
#lw,
#cm,
#lcm,
#rcm,
#lb,
#rb,
#rcb,
#lcb,
#gk {
    position: absolute;
    right: 300px;
    border-radius: 50%;
    top: 340px;
    background-color: #00000041;
    padding: 1.5%;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.288);
}

#lw {
    right: 300px;
    top: 140px;
}

#rw {
    right: 300px;
    top: 540px;
}

#cm {
    right: 500px;
    top: 340px;
}

#rcm {
    right: 500px;
    top: 540px;
}

#lcm {
    right: 500px;
    top: 140px;
}

#rb {
    right: 700px;
    top: 540px;
}

#lb {
    right: 700px;
    top: 140px;
}

#rcb {
    right: 750px;
    top: 420px;
}

#lcb {
    right: 750px;
    top: 260px;
}

#gk {
    right: 850px;
    top: 340px;
}

.player-card {
    margin-left: 6%;
    padding: 3%;
    border: transparent;
    /* font-size: 1.2rem; */
    letter-spacing: 2pt;
    text-transform: uppercase;
    background-image: url(https://fut-watch.com/img/19/card/goldeuropa_live.png?v=5);
    background-size: contain;
    background-color: transparent;
    color: whitesmoke;
    padding-top: 6%;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    cursor: crosshair;
}

hr {
    width: 10%;
    background-color: white;
}

.cont {
    color: rgb(255, 255, 255);
}

.title {
    font-family: fifa;
    font-weight: bold;
    font-size: 3rem;
}

.modal-body {
    padding: 10%;
}