@font-face {
    font-family: fifa;
    src: url(./Football\ Attack\ Demo.ttf);
}

@font-face {
    font-family: kit;
    src: url(./kit.otf);
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background-color: #020102;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: whitesmoke;
}

body {
    background-image: url(https://images.squarespace-cdn.com/content/v1/54d39958e4b05da119ebf14c/1506234336319-2TXN2N3IPWNJUUNB6U4K/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USOFn4xF8vTWDNAUBm5ducQhX-V3oVjSmr829Rco4W2Uo49ZdOtO_QXox0_W7i2zEA/fifa18_thunder.jpg?format=1500w);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: top;
}

.hold {
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black, 0 0 20px black;
}

.title {
    color: whitesmoke;
    text-align: center;
    font-size: 6rem;
    font-family: fifa;
    padding-top: 10%;
    text-shadow: 0 0 10px black;
    letter-spacing: 3pt;
}

.scrap {
    margin-left: 13%;
}

#field {
    margin-top: -10%;
    margin-left: 20%;
    transform: rotate(90deg);
    width: 540px;
    border-radius: 10%;
    box-shadow: 0 0 10px black
}

.shirt {
    width: 50px;
}

.main {
    width: 60%;
    display: inline-block;
}

.player {
    color: rgb(255, 255, 255);
    letter-spacing: 2pt;
    font-size: 1.2rem;
}

.player2 {
    color: rgb(255, 255, 255);
    letter-spacing: 2pt;
    text-shadow: 0 0 10px black;
}

.player-card {
    margin-left: 6%;
    padding: 3%;
    border: transparent;
    /* font-size: 1.2rem; */
    letter-spacing: 2pt;
    text-transform: uppercase;
    background-image: url(https://media.futview.com/common/cards/fifa20/totw_silver%402x.png);
    background-size: cover;
    background-color: transparent;
    color: whitesmoke;
    padding-top: 6%;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(46, 22, 22);
    cursor: crosshair;
}

hr {
    width: 10%;
    background-color: white;
}

.cont {
    color: rgb(255, 255, 255);
}

.title {
    font-family: fifa;
    font-weight: bold;
    font-size: 3rem;
}

.modal-body {
    padding: 10%;
}

.progress {
    height: 0.5rem;
    width: 70px;
    margin: 0 auto;
    margin-top: -7%;
}

.alias {
    margin-top: 2%;
    margin-left: 2%;
}

.droppable {
    position: absolute;
    padding: 2%;
    background-color: transparent;
    font-family: kit;
    color: rgb(0, 0, 0);
    font-size: 0.5rem;
}

#forward {
    right: 30%;
    top: 400px;
}

#rightw {
    right: 30%;
    top: 570px;
}

#leftw {
    right: 30%;
    top: 180px;
}

#leftm {
    right: 45%;
    top: 180px;
}

#rightm {
    right: 45%;
    top: 570px;
}

#centerm {
    right: 43%;
    top: 400px;
}

#leftb {
    right: 58%;
    top: 180px;
}

#rightb {
    right: 58%;
    top: 570px;
}

#centerrb {
    right: 58%;
    top: 450px;
}

#centerlb {
    right: 58%;
    top: 300px;
}

#gk {
    right: 70%;
    top: 400px;
}

#sidebar {
    position: absolute;
    left: 10px;
    background-color: #303030a6;
    top: 200px;
    padding: 1%;
    width: 300px;
    padding-left: 4%;
    font-family: kit;
    color: whitesmoke;
}

#sidebar2 {
    position: absolute;
    right: 10px;
    background-color: #303030a6;
    top: 200px;
    padding: 1%;
    padding-left: 0.3%;
    width: 300px;
    font-family: kit;
    color: whitesmoke;
}

#sidebar2 ul {
    text-align: left;
}

.teamsheet {
    font-family: fifa;
    background-color: #000000b8;
    color: #ffffff;
    display: inline-block;
    padding: 5%;
    margin: 7.7%;
    margin-top: 10%;
    line-height: 23pt;
    font-size: 1.2rem;
    letter-spacing: 2pt;
    box-shadow: 1px 3px 10px black;
}

.scoreboard {
    position: absolute;
    top: 60%;
    left: 47.5%;
    font-family: kit;
    font-size: xxx-large;
}

.timeboard {
    font-family: kit;
    color: whitesmoke;
    font-size: 1.5rem;
    box-shadow: 1px 1px 1px 1px black;
    width: 10%;
    text-align: center;
    position: absolute;
    top: 17%;
    left: 45.6%;
    background-color: #0000007d;
    padding-top: 3px;
}

#score1,
#score2 {
    text-align: center;
    color: whitesmoke;
    display: inline-block;
}

#team1scorerd,
#team2scorerd {
    left: 10%;
    color: whitesmoke;
    font-size: large;
    background-color: #000000c7;
    max-width: 500px;
    position: absolute;
    padding: 2%;
}

#team2scorerd {
    left: 57%;
}

#rightmanager {
    position: absolute;
    width: 20%;
    top: 25%;
    right: 0px;
}

#leftmanager {
    position: absolute;
    width: 40%;
    position: absolute;
    width: 38%;
    top: 15%;
    left: -9.5%;
}

#matchday {
    color: whitesmoke;
    margin-top: 4%;
    font-size: 3rem;
}

#song {
    position: absolute;
    top: 80%;
    left: 45.7%;
}

#warning {
    font-size: x-large;
    color: whitesmoke;
    padding: 8%;
    margin-top: 30%;
    text-align: center;
}

#leaderboard {
    width: 80%;
    margin: 4%;
    text-align: center;
    font-size: 1.5rem;
    color: whitesmoke;
    padding: 3%;
    background-color: #00000073;
}

#leaderboard tr {}

#leaderboard tr td {
    padding: 1%;
    border-bottom: solid;
}

thead {
    font-size: xx-large;
}